@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {

  :root  {
    --background: 89.3 19% 95%;
    --foreground: 89.3 5% 10%;

    --card: 89.3 19% 90%;
    --card-foreground: 89.3 5% 13%;

    --popover: 89.3 19% 95%;
    --popover-foreground: 89.3 95% 10%;
    
    --primary: 89.3 80.4% 10%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 89.3 19% 70%;
    --secondary-foreground: 0 0% 0%;
    
    --muted: 51.3 19% 85%;
    --muted-foreground: 89.3 5% 35%;
    
    --accent: 51.3 19% 80%;
    --accent-foreground: 89.3 5% 13%;
    
    --destructive: 0 50% 30%;
    --destructive-foreground: 89.3 5% 90%;
    
    --border: 89.3 20% 50%;
    --input: 89.3 20% 18%;
    --ring: 89.3 80.4% 10%;
    
    --radius: 0.3rem;

    --TRACE: 0 0% 60%;

    --DEBUG: 0 0% 34.9%;
    
    --WARN: 32 100% 50%;

    --ALERT: 16 100% 50%;

    --ERROR: 0 100% 50%;

    --CRITICAL: 0 100% 50%;
  }
  .dark  {
    --background: 89.3 19% 10%;
    --foreground: 89.3 5% 90%;
    
    --card: 89.3 19% 10%;
    --card-foreground: 89.3 5% 90%;
    
    --popover: 89.3 19% 5%;
    --popover-foreground: 89.3 5% 90%;
    
    --primary: 89.3 80.4% 10%;
    --primary-foreground: 0 0% 100%;
    
    --secondary: 89.3 19% 13%;
    --secondary-foreground: 0 0% 100%;
    
    --muted: 51.3 19% 15%;
    --muted-foreground: 89.3 5% 60%;
    
    --accent: 51.3 19% 15%;
    --accent-foreground: 89.3 5% 90%;
    
    --destructive: 0 50% 30%;
    --destructive-foreground: 89.3 5% 90%;
    
    --border: 89.3 20% 18%;
    --input: 89.3 20% 18%;
    --ring: 89.3 80.4% 10%;
    
    --radius: 0.3rem;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}