---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import { cn } from "@/lib/utils";
import { Button, buttonVariants } from "@/components/ui/button";
---

<Layout title="Welcome to Astro.">
  <main>
    <a
      class={buttonVariants({ variant: "default", size: "lg" })}
      href="/logParser">To the Log Parser</a
    >
  </main>
</Layout>
