---
import Layout from "../layouts/Layout.astro";
import { Input } from "@/components/ui/input";
import { type ColumnDef } from "@tanstack/react-table";
import { DataTable } from "@/components/ui/data-table";

import log from "../../public/SMAPI log (711c21e004d1446aadf6d05a6626563a).txt?raw";

type line = {
  time: string;
  level: string;
  subject: string;
  message: string;
};

const columns: ColumnDef<line>[] = [
  { header: "Time", accessorKey: "time" },
  { header: "Level", accessorKey: "level", filterFn: "arrIncludesSome" },
  { header: "Subject", accessorKey: "subject" },
  { header: "Message", accessorKey: "message" },
];

const lines = log.split(/\n/g);

let tempLine_list: line[] = [];

for (let line in lines) {
  let tempLine = lines[Number(line)];
  let prevLine = lines[Number(line) - 1];
  let nextLine = lines[Number(line) + 1];
  let wholeLine: String = "";

  //* skip line if it is empty
  if (tempLine.length == 0) {
    continue;
  }

  //* add lines without intro to previous message
  wholeLine = tempLine;

  let nextCount = 1;
  while (nextLine.startsWith(" ")) {
    nextLine = lines[Number(line) + nextCount];
    if (nextLine.startsWith("[")) {
      continue;
    }
    nextCount++;
    tempLine = tempLine + "<br />" + nextLine;
    wholeLine = tempLine;
  }

  //* seperating each line into time, level, screen and message
  let tempLine_split = wholeLine.split(
    /^\[(?<time>\d\d[:\.]\d\d[:\.]\d\d) (?<level>[a-z]+)(?: +screen_(?<screen>\d+))? +(?<modName>[^\]]+)\]/i
  );

  if (tempLine_split[1] == undefined) {
    continue;
  }

  let time = tempLine_split[1];
  let level = tempLine_split[2];
  let screen = tempLine_split[3];
  let subject = tempLine_split[4];
  let message = tempLine_split[5];

  let tempLine_object = {
    time: time,
    level: level,
    subject: subject,
    message: message,
  };

  tempLine_list.push(tempLine_object);
}
---

<Layout title="Log Parser">
  <main transition:animate="slide">
    <h1>hi</h1>
    <Input
      id="log"
      type="file"
    />

    <DataTable
      columns={columns}
      data={tempLine_list}
      client:load
    />
  </main>
</Layout>

<script></script>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 90%;
    max-width: calc(100% - 2rem);
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
  }

  .text-TRACE {
    color: hsl(var(--TRACE));
  }
  .text-DEBUG {
    color: hsl(var(--DEBUG));
  }
  .text-WARN {
    color: hsl(var(--WARN));
  }
  .text-ALERT {
    color: hsl(var(--WARN));
  }
  .text-ERROR {
    color: hsl(var(--ERROR));
  }
</style>
